Header {
    background-color: #1A2B45;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Logo {
    border-radius: 50%;
    border: 0.2rem solid #D4A017;
    height: 12rem;
    margin: 1rem;

}

.LogoRedes{
    height: 4rem;
}