.Login {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.FraseBoasVindas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.Formulario {
    background-color: white;
    border: 0.2rem solid #A8A8A8;
    display: block;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    min-width: 20rem;
    min-height: 20rem;
}

.Text {
    margin: 1rem;
    font-size: 2rem;
}

.Input {
    min-height: 1.5rem;
    min-width: 15rem;
    margin-left: 1rem;

}

.Alerta {
    color: #D9534F;
    margin: 1rem;
}

.Botao {
    background-color: #D4A017;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    max-width: 10rem;
}